td {
    min-width: 10px;
    border: 2px solid;
}

.balance {
    font-weight: bold;
    font-size: larger;
    margin-bottom: 40px;
}

.account-container {
    text-align: center;
}

table {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 40%;
}

.actions {
    display: inline;
}

input {
    max-width: 80px;
}

span {
    margin-left: 5%;
    margin-right: 5%;
}