ul {
    list-style: none;
    font-weight: bold;
    text-align: left;
    font-size: x-large;
}

button {
    background-color: blue;
    border: none;
    color: white;
    border-radius: 6px;
}

.new-account-input {
    margin-left: 1em;
    width: 8em;
    max-width: 40em;
    margin-bottom: 1em;
}

.delete {
    font-size: small;
    margin-top: auto;
    margin-bottom: auto;
    background-color: red;
}

.balance {
    font-size: large;
    font-weight: normal;
}